name: Continuous Integration
on:
  push:

jobs:
  linters:
    name: Linters
    runs-on: ubuntu-22.04
    timeout-minutes: 20

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v3.3.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.24'
          cache: false

      - name: Run linters
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest
          args: --verbose

  tests:
    name: Tests
    runs-on: ubuntu-22.04
    timeout-minutes: 20

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v3.3.0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.24'

      - name: Run test suite
        run: |
          go test -bench . -cover -v ./...
